body{
    padding:0px;
    margin:0px;
    background-color: black;
}
#container{
    max-width:1360px;
    margin: auto;
    display: grid;
    grid-template-columns: 260px 1100px ;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "meny main"
    "meny footer";
}
header { grid-area: header; 
    background-color: blue;
    height:100px;
}
#logo{
    height:90px;
}
#header_text{
    width:1360px;
    height:100%;
    margin:auto;
    text-align: center;
}
footer { grid-area: footer; 
    background-color: yellow;
    height:100px;
}
#footer_text{
    width:1360px;
    height:100%;
    margin:auto;
    text-align: center;
}
.menu { grid-area: meny; 
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    background-color: lightcoral;
    font-size: 17px;
    height:400px;
}
.linkDiv{
    margin-top:35px;
    margin-bottom:10px;
    text-align: center;
}
.linkDiv a{
    text-decoration: None;
}
#content { grid-area: main; 
    background-color: green;
    min-height: 700px;
    text-align: center;
}
.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: lightblue;
    width: 400px;
    height:400px;
    margin:20px;
}
.cardName{
    font-size: 30px;
}
.gameImg{
    width:230px;
    height:140px;
}
.sticky {
    width:260px;
    position: fixed;
    top: 0;

  }


