body{
    padding:0px;
    margin:0px;
    background-color: black;
    font-size: 30px;
}
#container{
    max-width:1360px;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 1160px ;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "meny main"
    "meny footer";
}
header { grid-area: header; 
    background-color: blue;
    height:100px;
}
#header_text{
    width:1360px;
    height:100%;
    margin:auto;
    text-align: center;
    border:1px solid black;
}
footer { grid-area: footer; 
    background-color: yellow;
    height:100px;
}
#footer_text{
    width:1360px;
    height:100%;
    margin:auto;
    text-align: center;
    border:1px solid black;
}
.menu { grid-area: meny; 
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    background-color: lightcoral;
    font-size: 17px;
    height:400px;
}
.linkDiv{
    margin-top:35px;
    margin-bottom:10px;
    text-align: center;
}
.linkDiv a{
    text-decoration: None;
}
#content { grid-area: main; 
    background-color: green;
    min-height: 1000px;
    text-align: center;
}



